@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 90vw;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(170, 155, 155);
  color: white;
}

section.encabezado {
  justify-content: center;
  height: 7rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

img.logo {
  height: 150px;
  width: 150px;
}

h1 {
  padding: 1rem 0;
  text-align: center;
  color: rgb(157, 190, 252);
  text-shadow: 1px 2px 10px gray;
}

section {
  padding: 1rem 0;
}

h2 {
  padding-left: 3.5rem;
}

p {
  padding-left: 3.5rem;
}

fieldset {
  border: none;
}

div {
  background-color: white;
  color: gray;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  color: red;
  font-weight: bold;
  border: 5px solid rgb(149, 149, 197);
}

input[type="checkbox"] + label {
  cursor: pointer;
}

legend {
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
}

.controlPotencia {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.controlPotencia img {
  width: 10rem;
  height: 8rem;
  border-radius: 20px;
}

label {
  padding: 1rem 0rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 10px gray;
  border-radius: 10px;
  width: 190px;
  height: 190px;
  color: black;
}

a {
  text-decoration: none;
  border: 1px solid rgb(49, 48, 48);
  color: rgb(49, 48, 48);
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: rgb(240, 236, 236);
}

footer {
  margin: 0rem;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  flex-direction: column;
}

footer p {
  color: rgb(115, 115, 185);
  font-size: 2rem;
  padding-left: 0.5rem;
}
footer p#desglose {
  color: rgb(115, 115, 185);
  white-space: pre-line;
}

button {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: rgb(115, 115, 185);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5%;
}
.reset {
  margin-left: 1rem;
  background-color: rgb(115, 115, 185);
  color: white;
  padding: 13px 42px 13px 42px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5%;
  box-shadow: 0 0 1px black;
}
p#desglose {
  font-size: 1.5rem;
  color: rgb(115, 115, 185);
}

/* Animaciones */

@keyframes selected {
  0% {
    background-color: none;
  }

  50% {
    transform: scale(1.2);
    border: 6px solid rgb(149, 149, 197);
  }

  100% {
    transform: scale(1);
    border: 5px solid rgb(149, 149, 197);
  }
}

input[type="checkbox"]:checked + label {
  animation-name: selected;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 1ms;
}

/* Responsive */

@media (max-width: 475px) {
  body {
    margin: 0;
    padding: 0;
  }
  h2 {
    padding: 0 1rem;
  }
  p {
    padding: 0 1rem;
  }

  label {
    text-align: center;
    max-width: 7rem;
    max-height: 8rem;
    margin: 1rem 1rem;
    font-size: 0.75rem;
  }

  label > img {
    max-width: 4rem;
    max-height: 4rem;
  }

  header {
    font-size: 12px;
  }
  label {
    padding: 1rem 0rem;
    background-color: white;
    box-shadow: 1px 2px 10px gray;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    color: black;
  }
}
