* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: gray;
  padding: 1rem;
  width: 100vw;
}

header {
  padding: 1rem;
  background-color: black;
  color: white;
  text-size-adjust: bold;
  font-size: 0.8rem;
}

div {
  width: 150px;
  height: 150px;
}
#electro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

div.nevera {
  background-image: url(./img/nevera.jpg);
  background-size: contain;
}

div.televisor {
  background-image: url(./img/tele.jpg);
  background-size: contain;
}

div.lavadora {
  background-image: url(./img/lavadora.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.micro {
  background-image: url(./img/micro.jpg);
  background-size: contain;
}

div.cargador {
  background-image: url(./img/carga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div.cargador {
  background-image: url(./img/carga.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.vitro {
  background-image: url(./img/vitro.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.tostadora {
  background-image: url(./img/tosta.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.aspir {
  background-image: url(./img/aspira.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.cargador {
  background-image: url(./img/carga.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.secador {
  background-image: url(./img/secador.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.ordena {
  background-image: url(./img/ordena.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

div.aire {
  background-image: url(./img/aire.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
div {
  border: 3px red solid;
  height: 150px;
  width: 150px;
  border-radius: 5%;
}
